<div class="item-details">
    <table>
        <thead>
            <tr><th colspan="2">Caractéristiques</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Description</td>
                <td>1 Franc Céres</td>
            </tr>
            <tr>
                <td>Valeur faciale</td>
                <td>1 F</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>1849</td>
            </tr>
            <tr>
                <td>Lettre</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Atelier</td>
                <td>Paris</td>
            </tr>
            <tr>
                <td>Métal</td>
                <td>Argent 900‰</td>
            </tr>
            <tr>
                <td>Poids</td>
                <td>5 g</td>
            </tr>
            <tr>
                <td>Diamètre</td>
                <td>23 mm</td>
            </tr>
            <tr>
                <td>Epaisseur</td>
                <td></td>
            </tr>
            <tr>
                <td>Tranche</td>
                <td>Cannelée</td>
            </tr>
            <tr>
                <td>Graveur</td>
                <td>Eugène-André Oudiné</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr><th colspan="2">Informations complémentaires</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>Propriétaire</td>
                <td>michu</td>
            </tr>
            <tr>
                <td>Grade / Etat</td>
                <td>SUP</td>
            </tr>
        </tbody>
    </table>
</div>