<div class="item-details">
    <div class="picture-carousel">
        <button class="prev" title="Pièce précédente"><i class="fa fa-caret-left" aria-hidden="true"></i></button><!--
     --><div class="slide-container">
            <figure style="transform: translateX(-100%);">
                <figcaption><span class="title">1 Franc Céres 1849 A</span></figcaption>
                <img src="images/1913_25_centimes_avers.png" alt=""><img src="images/1913_25_centimes_revers.png" alt="">
            </figure>
            <figure style="transform: translateX(0%);">
                <figcaption><span class="title">1 Franc Céres 1849 A</span></figcaption>
                <img src="images/1849a_1_franc_avers.png" alt=""><img src="images/1849a_1_franc_revers.png" alt="">
            </figure>
            <figure style="transform: translateX(100%);">
                <figcaption><span class="title">1 Franc Céres 1849 A</span></figcaption>
                <img src="images/1866k_1_franc_avers.png" alt=""><img src="images/1866k_1_franc_revers.png" alt="">
            </figure>
            <figure style="transform: translateX(200%);">
                <figcaption><span class="title">1 Franc Céres 1849 A</span></figcaption>
                <img src="images/1898_2_franc_avers.png" alt=""><img src="images/1898_2_franc_revers.png" alt="">
            </figure>
        </div><!--
     --><button class="next" title="Pièce suivante"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
        
        <div class="community-info">
            <a class="link have"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 <span>l'ont</span></a>
            <a class="link want"><i class="fa fa-heart" aria-hidden="true"></i> 5 <span>la veulent</span></a>
        </div>
    </div>

    <table>
        <thead>
            <tr><td colspan="4"><h1 class="title">1 Franc Céres 1849 A</h1></td></tr>
            <tr class="info"><td colspan="4">Ajouté le <span class="date">01/01/2017</span>, par <span><a class="link" href="user_public_items.html">michu</a></td></tr>
        </thead>
        <tbody>
            <tr>
                <td class="title">Catégorie</td><td colspan="3"><span class="tag">Moderne<i class="fa fa-times" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td class="title">Métal</td><td colspan="3"><span class="tag">Argent 900‰<i class="fa fa-times" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td class="title">Etat</td><td colspan="3"><span class="tag">SUP<i class="fa fa-times" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td class="title">Gradé</td><td colspan="3"><span class="tag">PCGS<i class="fa fa-times" aria-hidden="true"></i></span></td>
            </tr>
            <tr>
                <td class="title">Particularité</td><td colspan="3">Quod opera consulta cogitabatur astute, ut hoc insidiarum genere Galli periret avunculus, ne eum ut praepotens acueret in fiduciam exitiosa coeptantem. verum navata est opera diligens hocque dilato Eusebius praepositus cubiculi missus est Cabillona aurum secum perferens, quo per turbulentos seditionum concitores occultius distributo et tumor consenuit militum et salus est in tuto locata praefecti. deinde cibo abunde perlato castra die praedicto sunt mota.</td>
            </tr>
            <tr>
                <td class="title">Référence(s)</td><td colspan="3"><a class="link ref tag">F.211/1<i class="fa fa-times" aria-hidden="true"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var pc = {
        previousPictureHandle: function() {
            Array.from(this.sliderNode.querySelectorAll('figure')).forEach(function(fig) {
                var tv = parseInt(fig.style.transform.replace('translateX(', '')) - 100;
                fig.style.transform = `translateX(${tv}%)`;
            });
        },

        nextPictureHandle: function() {
            Array.from(this.sliderNode.querySelectorAll('figure')).forEach(function(fig) {
                var tv = parseInt(fig.style.transform.replace('translateX(', '')) + 100;
                fig.style.transform = `translateX(${tv}%)`;
            });
        },

        registerHandlers: function() {
            if(!this.previousPictureProxy) {
                var self = this;
                this.previousPictureProxy = function() { self.previousPictureHandle.apply(self, [...arguments]); }
                this.nextPictureProxy = function() { self.nextPictureHandle.apply(self, [...arguments]); }
            }

            this.node.querySelector('button.prev').addEventListener('click', this.previousPictureProxy);
            this.node.querySelector('button.next').addEventListener('click', this.nextPictureProxy);
        },

        unregisterHandlers: function() {
            this.node.querySelector('button.prev').removeEventListener('click', this.previousPictureHandle);
            this.node.querySelector('button.next').removeEventListener('click', this.nextPictureHandle);
        },

        init: function() {
            this.node = document.querySelector('.item-details .picture-carousel');
            this.sliderNode = this.node.querySelector('.slide-container');
            this.registerHandlers();
        }
    };

    pc.init();
</script>