<div class="item-serie-information toggle-container">
    <input type="checkbox" id="show_serie_information" />
    <label for="show_serie_information"><span class="title">Informations sur la série</span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></label>

    <div class="content">
        <table>
            <tbody>
                <tr>
                    <td class="title">Valeur</td>
                    <td>1 Franc</td>
                    <td class="title">Pays</td>
                    <td>France</td>
                </tr>
                <tr>
                    <td class="title">Métal</td>
                    <td>Argent 900‰</td>
                    <td class="title">Période</td>
                    <td>IIeme République, 1848-1852</td>
                </tr>
                <tr>
                    <td class="title">Poids</td>
                    <td>5 g</td>
                    <td class="title">Démonétisé</td>
                    <td>01/01/1869</td>
                </tr>
                <tr>
                    <td class="title">Diamètre</td>
                    <td colspan="3">23 mm</td>
                </tr>
                <tr>
                    <td class="title">Tranche</td>
                    <td colspan="3">Cannelée</td>
                </tr>
                <tr>
                    <td class="title">Graveur</td>
                    <td colspan="3">Eugène-André Oudiné</td>
                </tr>
            </tbody>
        </table>
        <div>
            <span class="title">Avers</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula diam at efficitur viverra. Aenean risus velit, convallis sit amet felis quis, efficitur porttitor ipsum. Nam et tortor ac nisi pretium lobortis. Aliquam a mollis diam. Aliquam blandit rutrum sem, quis ornare quam iaculis ut. Donec diam elit, efficitur nec cursus accumsan, tincidunt eu mauris. Nullam rutrum risus ut est porta, ut ullamcorper erat maximus. Maecenas id nunc orci. Nulla rhoncus consequat tincidunt. Vestibulum vitae gravida lectus, vitae malesuada odio. Nulla quis dolor eget enim feugiat suscipit varius ut sapien. Quisque vel convallis urna. Nullam laoreet pellentesque leo, nec lacinia nunc egestas ut. Pellentesque a mollis quam, non euismod massa. Pellentesque non orci ac tortor venenatis tincidunt sed et dui.
            </p>
        </div>
        <div>
            <span class="title">Revers</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lectus velit. Vivamus ullamcorper fermentum congue. Donec pharetra dui eu convallis faucibus. Nullam sit amet leo turpis. Vestibulum at tellus ut enim maximus venenatis. Vestibulum eleifend vitae eros sed ullamcorper. Suspendisse quis vehicula arcu. Pellentesque placerat, leo eu iaculis commodo.
            </p>
        </div>
    </div>

</div>