<div class="item-metadata">
    <figure>
        <figcaption class="title">Fiche</figcaption>
        <a class="link"><i class="fa fa-pencil" aria-hidden="true"></i> Editer la fiche</a>
        <a class="button"><i class="fa fa-book" aria-hidden="true"></i> Ajouter à votre collection</a>
        <a class="button"><i class="fa fa-eye" aria-hidden="true"></i> Ajouter à votre wantlist</a>
    </figure>

    <figure>
        <figcaption class="title">Marketplace</figcaption>
        <div><a class="link">3 en vente</a> à partir de <span class="price">250 €</span></div>
    </figure>

    <figure>
        <figcaption class="title">Statistiques</figcaption>
        <a class="link have" href="user_proposed_items.html" title="Ceux qui l'ont"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 <span>l'ont</span></a>
        <a class="link want" title="Ceux qui la veulent"><i class="fa fa-heart" aria-hidden="true"></i> 5 <span>la veulent</span></a>
        <div>dernière vente le 16/08/2016</div>
    </figure>

    <figure>
        <figcaption class="title">Contributeurs</figcaption>
        <a class="link">@michu</a>
        <a class="link">@pika</a>
    </figure>
</div>