<div class="item-serie-comment toggle-container">
    <input type="checkbox" id="show_serie_comment" />
    <label for="show_serie_comment"><span class="title">Commentaires</span><i class="fa fa-plus" aria-hidden="true"></i><i class="fa fa-minus" aria-hidden="true"></i></label>

    <div class="content">
        <table>
            <tbody>
                <tr>
                    <td>His cognitis Gallus ut serpens adpetitus telo vel saxo iamque spes extremas opperiens et succurrens saluti suae quavis ratione colligi omnes iussit armatos et cum starent attoniti, districta dentium acie stridens adeste inquit viri fortes mihi periclitanti vobiscum.</td>
                    <td><span class="date">01/01/2017 18:57:00</span><a class="user link">@troll</a></td>
                </tr>
                <tr>
                    <td>Contumaciae lateret incitationem incitationem adfectans praesens idque idque consiliis multorum aliquotiens efferatus velut rapidi ut qua cum efferatus irrevocabili docens.</td>
                    <td><span class="date">02/01/2017 09:12:57</span><a class="user link">@master</a></td>
                </tr>
                <tr>
                    <td><label>Commentaire </label><textarea rows="5"></textarea></td>
                    <td><button>Laisser un commentaire</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>