<header class="page-header">
    <div class="wrapper">
        <a class="logo" title="coincogs" href="http://localhost:4000"><img src="" alt /></a>
        <div class="top-nav">
            <div class="input-container search">
                <input type="text" placeholder="Type your reference, year, metal..." /><button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div class="toggle-button">
                <input type="checkbox" id="marketplace"/>
                <label for="marketplace"><span>Marketplace</span><i class="fa fa-caret-down" aria-hidden="true"></i></label>
            </div>
            <div  class="toggle-button">
                <input type="checkbox" id="community"/>
                <label for="community"><span>Community</span><i class="fa fa-caret-down" aria-hidden="true"></i></i></label>
            </div>
        </nav>
    </div>
</header>