<div class="search-filter-container">
    <figure>
        <figcaption>Categories</figcaption>
        <ul>
            <li><a><span class="title">Modernes</span><span class="count">55 457</span></a></li>
            <li><a><span class="title">Féodales</span><span class="count">15 457</span></a></li>
            <li><a><span class="title">Royales</span><span class="count">3 602</span></a></li>
            <li><a><span class="more">+ More Filters</span></a></li>
        </ul>
    </figure>
    <figure>
        <figcaption>Metal</figcaption>
        <ul>
            <li><a><span class="title">Or</span></a></li>
            <li><a><span class="title">Argent</span></a></li>
            <li><a><span class="title">Aluminium</span></a></li>
            <li><a><span class="title">Bronze-Aluminium</span></a></li>
            <li><a><span class="title">Cupro-Nickel</span></a></li>
            <li><a><span class="title">Duralium</span></a></li>
            <li><a><span class="more">+ More Filters</span></a></li>
        </ul>
    </figure>
    <figure>
        <figcaption>Mint Town</figcaption>
        <ul>
            <li><a><span class="title">Paris</span></a></li>
            <li><a><span class="title">Beaumont-Le-Roger</span></a></li>
            <li><a><span class="title">Bordeaux</span></a></li>
            <li><a><span class="title">Castelsarasin</span></a></li>
            <li><a><span class="more">+ More Filters</span></a></li>
        </ul>
    </figure>
</div>