<div class="user-items-header">
    <div class="user-resume">
        <img class="logo" src="images/michu_avatar.png" alt="" />
        <span class="title">@ michu</span>
        <div class="rating">
            <span>5.0</span>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>
    </div>

    <ul>
        <li><a class="link selected">Modernes</a></li>
        <li><a class="link">Royales</a></li>
    </ul>
</div>