<div class="user-profile-header">
    <div class="wrapper">
        <div class="user-profile-info">
            <img src="images/pika_avatar.png" alt class="avatar" />
            <span class="name">@pika</span>
        </div>

        <div class="user-bio-info">
            <cite>In coin we trust...</cite>
        </div>

        <div class="user-contact-info">
            <span></span>
            <a class="button"><i class="fa fa-envelope-o" aria-hidden="true"></i> Le contacter</a>
        </div>
    </div>
</div>