<div class="user-profile-metadata">
    <figure>
        <figcaption class="title">Information</figcaption>
        <div class="table two-cols">
            <span class="cell">Membre depuis :</span><span class="cell">01/01/2017</span>
            <span class="cell">Localisation :</span><span class="cell">Limoges</span>
            <span class="cell">Profil :</span><span class="cell">Professionnel</span>
        </div>
    </figure>

    <figure>
        <figcaption class="title">Evaluations</figcaption>
        <div class="table two-cols">
            <span class="cell"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Positif :</span><span class="cell">45</span>
            <span class="cell"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Négatif :</span><span class="cell">1</span>
            <span class="cell"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Neutre :</span><span class="cell">3</span>
        </div>
    </figure>

    <figure>
        <figcaption class="title">Contributions</figcaption>
        <div>Aucune contribution<br/>(jusqu'à présent)</div>
    </figure>
</div>