<div class="user-profile-reviews">
    <table>
        <thead>
            <tr>
                <th class="sort">Note</th>
                <th class="sort">Date <i class="fa fa-caret-down" aria-hidden="true"></i></th>
                <th class="sort">Type</th>
                <th class="sort">Acheteur / Vendeur</th>
                <th class="sort">Commentaire</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                <td>01/01/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/michu_avatar.png" alt class="avatar" />
                        <a class="name link">@michu</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div>150 notes</div>
                        </div>
                    </div>
                </td>
                <td>Soooo happyyyy!!!! ^^</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                <td>01/02/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/mario_avatar.png" alt class="avatar" />
                        <a class="name link">@mario</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <div>26 notes</div>
                        </div>
                    </div>
                </td>
                <td>Very bad communication :/</td>
            </tr>
            <tr>
                <td><i class="fa fa-hand-o-right" aria-hidden="true"></i></td>
                <td>01/03/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/panda_avatar.png" alt class="avatar" />
                        <a class="name link">@panda</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <div>79 notes</div>
                        </div>
                    </div>
                </td>
                <td>Good</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                <td>01/01/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/michu_avatar.png" alt class="avatar" />
                        <a class="name link">@michu</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div>150 notes</div>
                        </div>
                    </div>
                </td>
                <td>Soooo happyyyy!!!! ^^</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                <td>01/02/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/mario_avatar.png" alt class="avatar" />
                        <a class="name link">@mario</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <div>26 notes</div>
                        </div>
                    </div>
                </td>
                <td>Very bad communication :/</td>
            </tr>
            <tr>
                <td><i class="fa fa-hand-o-right" aria-hidden="true"></i></td>
                <td>01/03/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/panda_avatar.png" alt class="avatar" />
                        <a class="name link">@panda</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <div>79 notes</div>
                        </div>
                    </div>
                </td>
                <td>Good</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                <td>01/01/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/michu_avatar.png" alt class="avatar" />
                        <a class="name link">@michu</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div>150 notes</div>
                        </div>
                    </div>
                </td>
                <td>Soooo happyyyy!!!! ^^</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                <td>01/02/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/mario_avatar.png" alt class="avatar" />
                        <a class="name link">@mario</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <div>26 notes</div>
                        </div>
                    </div>
                </td>
                <td>Very bad communication :/</td>
            </tr>
            <tr>
                <td><i class="fa fa-hand-o-right" aria-hidden="true"></i></td>
                <td>01/03/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/panda_avatar.png" alt class="avatar" />
                        <a class="name link">@panda</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <div>79 notes</div>
                        </div>
                    </div>
                </td>
                <td>Good</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                <td>01/01/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/michu_avatar.png" alt class="avatar" />
                        <a class="name link">@michu</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div>150 notes</div>
                        </div>
                    </div>
                </td>
                <td>Soooo happyyyy!!!! ^^</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                <td>01/02/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/mario_avatar.png" alt class="avatar" />
                        <a class="name link">@mario</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <div>26 notes</div>
                        </div>
                    </div>
                </td>
                <td>Very bad communication :/</td>
            </tr>
            <tr>
                <td><i class="fa fa-hand-o-right" aria-hidden="true"></i></td>
                <td>01/03/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/panda_avatar.png" alt class="avatar" />
                        <a class="name link">@panda</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <div>79 notes</div>
                        </div>
                    </div>
                </td>
                <td>Good</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                <td>01/01/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/michu_avatar.png" alt class="avatar" />
                        <a class="name link">@michu</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <div>150 notes</div>
                        </div>
                    </div>
                </td>
                <td>Soooo happyyyy!!!! ^^</td>
            </tr>
            <tr>
                <td><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></td>
                <td>01/02/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/mario_avatar.png" alt class="avatar" />
                        <a class="name link">@mario</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <div>26 notes</div>
                        </div>
                    </div>
                </td>
                <td>Very bad communication :/</td>
            </tr>
            <tr>
                <td><i class="fa fa-hand-o-right" aria-hidden="true"></i></td>
                <td>01/03/2017</td>
                <td>Vente</td>
                <td>
                    <div class="user-profile-info">
                        <img src="images/panda_avatar.png" alt class="avatar" />
                        <a class="name link">@panda</a>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            <div>79 notes</div>
                        </div>
                    </div>
                </td>
                <td>Good</td>
            </tr>
        </tbody>
    </table>
</div>