<!DOCTYPE html>
<html lang="en">
@@include('./partials/page_include_head.html')

<body>
@@include('./partials/page_header.html')

<div class="page-content item">
    <div class="wrapper">
        <div class="page-nav">
            <a>Acceuil</a><i class="fa fa-chevron-right" aria-hidden="true"></i><a>1 Franc 1849 A</a>
        </div>
        @@include('./partials/item_details.html')
        @@include('./partials/item_serie_information.html')
        @@include('./partials/item_serie_stats.html')
    </div>
</div>

@@include('./partials/page_footer.html')
@@include('./partials/page_include_body.html')
</body>
</html>