<!DOCTYPE html>
<html lang="en">
@@include('./partials/page_include_head.html')

<body>
@@include('./partials/page_header.html')

<div class="page-content">
    <div class="wrapper">
        @@include('./partials/item_picture.html')
        @@include('./partials/item_details.html')
        @@include('./partials/item_grade_list.html')
        @@include('./partials/item_options.html')
        @@include('./partials/item_stats.html')
    </div>
</div>

@@include('./partials/page_footer.html')
@@include('./partials/page_include_body.html')
</body>
</html>