<!DOCTYPE html>
<html lang="en">
@@include('./partials/page_include_head.html')

<body>
@@include('./partials/page_header.html')

<div class="page-content user-item">
    <div class="wrapper">
        <div class="page-nav">
            <div class="page-breadcrumb">
                <a href="index.html">Acceuil</a><i class="fa fa-chevron-right" aria-hidden="true"></i><a href="item.html">1 Franc 1849 A</a><i class="fa fa-chevron-right" aria-hidden="true"></i><a>Ceux qui l'ont</a>
            </div>
            @@include('./partials/nav_bar.html')
        </div>
        @@include('./partials/user_proposed_items_bar.html')
        @@include('./partials/search_results.html')
    </div>
</div>

@@include('./partials/page_footer.html')
@@include('./partials/page_include_body.html')
</body>
</html>