<!DOCTYPE html>
<html lang="en">
@@include('./partials/page_include_head.html')

<body>
@@include('./partials/page_header.html')
@@include('./partials/user_profile_header.html')
<div class="page-content user">
    <div class="wrapper">
        <div class="page-nav">
            <span class="title">Evaluations du vendeur</span>
        </div>
        <div class="two-column three-quarter">
            <div>
                @@include('./partials/user_profile_reviews.html')
            </div>
            <div>
                @@include('./partials/user_profile_metadata.html')
            </div>
        </div>
        
    </div>
</div>

@@include('./partials/page_footer.html')
@@include('./partials/page_include_body.html')
</body>
</html>