<!DOCTYPE html>
<html lang="en">
@@include('./partials/page_include_head.html')

<body>
@@include('./partials/page_header.html')

<div class="page-content user-item">
    <div class="wrapper">
        <div class="page-nav">
            @@include('./partials/user_public_items_header.html')
            @@include('./partials/nav_bar.html')
        </div>
        @@include('./partials/search_results.html')
    </div>
</div>

@@include('./partials/page_footer.html')
@@include('./partials/page_include_body.html')
</body>
</html>