html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
html *,
body * {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  color: #303030;
}
.page-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c0c0c0;
  background-color: #ffffff;
  min-height: 5rem;
  z-index: 2;
}
.page-content {
  display: flex;
  flex: 1 1 auto;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}
.page-content > .wrapper {
  /*display: flex;*/
  margin: auto;
  margin-top: 0;
  padding: 2rem 1rem;
  padding-top: 0;
  min-width: 80%;
  max-width: 121rem;
}
.page-footer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  min-height: 5rem;
  z-index: 2;
}
@keyframes loading-frame {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 102, 102, 0.9);
    transform: translateY(0);
  }
  100% {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2rem);
  }
}
@-o-keyframes loading-frame {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 102, 102, 0.9);
    transform: translateY(0);
  }
  100% {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2rem);
  }
}
@-ms-keyframes loading-frame {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 102, 102, 0.9);
    transform: translateY(0);
  }
  100% {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2rem);
  }
}
@-webkit-keyframes loading-frame {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 102, 102, 0.9);
    transform: translateY(0);
  }
  100% {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2rem);
  }
}
@-moz-keyframes loading-frame {
  0% {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 102, 102, 0.9);
    transform: translateY(0);
  }
  100% {
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-2rem);
  }
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: none;
}
.loading-overlay.show {
  display: block;
}
.loading-animation {
  position: absolute;
  top: 45%;
  left: 40%;
  text-align: center;
  display: inline-block;
  margin: auto;
}
.loading-animation span {
  display: inline-block;
  vertical-align: top;
  width: 1.5rem;
  height: 1.5rem;
  margin: 3rem 1rem;
  background: #ff6666;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-animation: loading-frame 1s infinite alternate;
  -ms-animation: loading-frame 1s infinite alternate;
  -webkit-animation: loading-frame 1s infinite alternate;
  -moz-animation: loading-frame 1s infinite alternate;
  animation: loading-frame 1s infinite alternate;
  -moz-box-shadow: 0 0 1rem 0 rgba(192, 192, 192, 0.9);
  -webkit-box-shadow: 0 0 1rem 0 rgba(192, 192, 192, 0.9);
  -o-box-shadow: 0 0 1rem 0 rgba(192, 192, 192, 0.9);
  box-shadow: 0 0 1rem 0 rgba(192, 192, 192, 0.9);
}
.loading-animation span:nth-of-type(1) {
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
}
.loading-animation span:nth-of-type(2) {
  animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  -ms-animation-delay: 0.45s;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
}
.loading-animation span:nth-of-type(3) {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}
.search-filter-container {
  cursor: default;
  overflow: hidden;
  overflow-y: auto;
  margin-right: 1rem;
  min-width: 18rem;
}
.search-filter-container figure {
  display: block;
  margin: 0;
  margin-bottom: 3rem;
}
.search-filter-container figure .hidden {
  opacity: 0;
  max-height: 0;
}
.search-filter-container figure .more {
  display: block;
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: #808080;
  cursor: pointer;
}
.search-filter-container figure .more.hidden {
  padding: 0;
  margin: 0;
}
.search-filter-container figure figcaption {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.search-filter-container figure ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.6rem;
  max-height: 8.1rem;
  overflow: hidden;
}
.search-filter-container figure ul li {
  overflow: hidden;
  max-height: 3rem;
  /*
                -webkit-transition: opacity 250ms linear, max-height 250ms linear;
                -moz-transition: opacity 250ms linear, max-height 250ms linear;
                transition: opacity 250ms linear, max-height 250ms linear;
                */
}
.search-filter-container figure ul li a {
  display: block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 0.8rem;
}
.search-filter-container figure ul li a > * {
  vertical-align: middle;
}
.search-filter-container figure ul li a span.title {
  color: #508ced;
}
.search-filter-container figure ul li a span.count {
  position: absolute;
  right: 0;
  display: inline-block;
  max-width: 30rem;
  overflow: hidden;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #808080;
  background-color: #f0f0f0;
  border-radius: 4px 0 0 4px;
  -webkit-transition: max-width 250ms linear;
  -moz-transition: max-width 250ms linear;
  transition: max-width 250ms linear;
}
.search-filter-container figure ul li a span.count:empty {
  padding-left: 0;
  padding-right: 0;
  max-width: 0;
  overflow: hidden;
}
.search-filter-container figure ul li a:hover span.title {
  border-bottom: 1px solid #508ced;
}
.search-filter-container figure ul li a:hover span.more {
  color: initial;
}
.search-filter-container figure ul li.selected {
  pointer-events: none;
  /*
                    a span.title {
                        border-bottom: 1px solid @link-text-color;
                    }
                    */
}
.search-filter-container figure ul.six-filters {
  max-height: 16.2rem;
}
.search-filter-container figure ul.all-filters {
  max-height: none;
}
.search-filter-container figure.filters {
  margin-bottom: 2rem;
  max-height: none;
  opacity: 1;
  -webkit-transition: opacity 150ms linear, max-height 250ms linear;
  -moz-transition: opacity 150ms linear, max-height 250ms linear;
  transition: opacity 150ms linear, max-height 250ms linear;
}
.search-filter-container figure.filters ul li {
  max-height: none;
}
.search-filter-container figure.filters ul li a {
  background-color: #508ced;
  padding: 0.5rem 0.7rem;
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.search-filter-container figure.filters ul li a span {
  color: inherit;
}
.search-filter-container figure.filters ul li a span.title {
  font-weight: normal;
}
.search-filter-container figure.filters ul li a span.cross {
  position: absolute;
  right: 0.7rem;
  top: 0.5rem;
  opacity: 0.5;
}
.search-filter-container figure.filters ul li a:hover {
  /*text-shadow: 0 0 2px @theme-color01;*/
}
.search-filter-container figure.filters ul li a:hover span.cross {
  opacity: 1;
}
.search-filter-container figure.filters.empty {
  max-height: 0;
  opacity: 0;
  margin-bottom: 0;
}
.search-filter-container figure.filters.empty figcaption {
  display: none;
}
@keyframes show-item-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show-item-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes show-item-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show-item-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show-item-frame {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.search-result-container {
  position: relative;
  cursor: default;
  overflow: hidden;
}
.search-result-container nav {
  position: fixed;
  display: block;
  min-height: 4.7rem;
  width: 100%;
  max-width: 99rem;
  background-color: rgba(255, 255, 255, 0.8);
  /*border-top: 1px solid @theme-color03;*/
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.search-result-container nav .info {
  font-weight: bold;
}
.search-result-container nav .bar {
  position: absolute;
  bottom: 1rem;
  right: 0;
}
.search-result-container nav .bar select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  margin-left: 1rem;
  margin-right: 2rem;
}
.search-result-container nav .bar a,
.search-result-container nav .bar span {
  display: inline-block;
  font-weight: bold;
}
.search-result-container nav .bar a:first-of-type,
.search-result-container nav .bar a:last-of-type {
  font-size: 2rem;
  cursor: pointer;
  width: 2rem;
}
.search-result-container nav .bar a:hover {
  color: #508ced;
}
.search-result-container nav .bar a.disabled {
  color: #c0c0c0;
  pointer-events: none;
}
.search-result-container ul {
  display: block;
  width: 100%;
  max-width: 99rem;
  margin: 0;
  margin-top: 6rem;
  padding: 0;
}
.search-result-container ul li {
  display: inline-block;
  vertical-align: top;
  padding: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  -o-animation: show-item-frame 1000ms 1 alternate;
  -ms-animation: show-item-frame 1000ms 1 alternate;
  -webkit-animation: show-item-frame 1000ms 1 alternate;
  -moz-animation: show-item-frame 1000ms 1 alternate;
  animation: show-item-frame 1000ms 1 alternate;
}
.search-result-container ul li figure {
  display: block;
  margin: 0;
}
.search-result-container ul li figure figcaption {
  text-align: center;
  margin-bottom: 1rem;
  min-height: 3.7rem;
}
.search-result-container ul li figure figcaption span {
  display: block;
}
.search-result-container ul li figure figcaption span.title {
  font-weight: bold;
}
.search-result-container ul li figure figcaption span.engraver {
  color: #808080;
  font-size: smaller;
}
.search-result-container ul li figure img {
  width: 15rem;
}
.search-result-container ul li:hover {
  background-color: rgba(255, 102, 102, 0.8);
}
.search-result-container ul:empty {
  min-width: 99rem;
  min-height: 50rem;
}
.page-content > * {
  vertical-align: top;
}
.page-content .search-filter-container,
.page-content .search-result-container {
  display: inline-block;
}
.page-content .search-filter-container {
  /* width: 20%;*/
  position: fixed;
  margin-top: 4rem;
}
.page-content .search-result-container {
  /*width: 78%;*/
  margin-left: 20rem;
  text-align: center;
}
.item-picture {
  position: relative;
  display: block;
  width: 57rem;
  margin: auto;
  margin-top: 4rem;
}
.item-picture > * {
  display: inline-block;
  vertical-align: middle;
}
.item-picture .image-container {
  -webkit-perspective: 15rem;
  perspective: 15rem;
  width: 50rem;
  height: 20rem;
}
.item-picture .image-container img {
  position: absolute;
  display: inline;
  height: 100%;
  border: 1px solid #d0d0d0;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.item-picture .image-container img:nth-of-type(1) {
  left: -9rem;
  -webkit-transform: rotateY(140deg) scaleX(0.6) scaleY(0.78);
  transform: rotateY(140deg) scaleX(0.6) scaleY(0.78);
  opacity: 0;
  z-index: 1;
}
.item-picture .image-container img:nth-of-type(2) {
  left: -4rem;
  -webkit-transform: rotateY(120deg) scaleX(0.6) scaleY(0.78);
  transform: rotateY(120deg) scaleX(0.6) scaleY(0.78);
  opacity: 0.2;
  z-index: 2;
}
.item-picture .image-container img:nth-of-type(3) {
  left: 2rem;
  -webkit-transform: rotateY(75deg) scaleX(0.5) scaleY(0.8);
  transform: rotateY(75deg) scaleX(0.5) scaleY(0.8);
  opacity: 0.4;
  z-index: 3;
}
.item-picture .image-container img:nth-of-type(4) {
  left: 8rem;
  -webkit-transform: rotateY(30deg) scaleX(0.7) scaleY(0.85);
  transform: rotateY(30deg) scaleX(0.7) scaleY(0.85);
  opacity: 0.6;
  z-index: 4;
}
.item-picture .image-container img:nth-of-type(5) {
  left: 15rem;
  z-index: 5;
  border-color: transparent;
}
.item-picture .image-container img:nth-of-type(6) {
  left: 22rem;
  -webkit-transform: rotateY(-30deg) scaleX(0.7) scaleY(0.85);
  transform: rotateY(-30deg) scaleX(0.7) scaleY(0.85);
  opacity: 0.6;
  z-index: 4;
}
.item-picture .image-container img:nth-of-type(7) {
  left: 28rem;
  -webkit-transform: rotateY(-75deg) scaleX(0.5) scaleY(0.8);
  transform: rotateY(-75deg) scaleX(0.5) scaleY(0.8);
  opacity: 0.4;
  z-index: 3;
}
.item-picture .image-container img:nth-of-type(8) {
  left: 34rem;
  -webkit-transform: rotateY(-120deg) scaleX(0.6) scaleY(0.78);
  transform: rotateY(-120deg) scaleX(0.6) scaleY(0.78);
  opacity: 0.2;
  z-index: 2;
}
.item-picture .image-container img:nth-of-type(9) {
  left: 39rem;
  -webkit-transform: rotateY(-140deg) scaleX(0.6) scaleY(0.78);
  transform: rotateY(-140deg) scaleX(0.6) scaleY(0.78);
  opacity: 0;
  z-index: 1;
}
.item-picture button {
  padding: 0;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  color: #808080;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  border-radius: 50% 50%;
  cursor: pointer;
  outline: none;
}
.item-picture button > span {
  display: block;
  margin-top: -0.4rem;
  /* depends on the font family */
}
.item-picture button:hover {
  color: initial;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.7rem;
}

/*# sourceMappingURL=index.css.map */
