.border-radius(@radius) {
  -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
      border-radius: @radius;
}

.border-radius(@top-left-radius, @top-right-radius, @bottom-right-radius, @bottom-left-radius) {
  -webkit-border-radius: @top-left-radius @top-right-radius @bottom-right-radius  @bottom-left-radius;
    -moz-border-radius: @top-left-radius @top-right-radius @bottom-right-radius  @bottom-left-radius;
      border-radius: @top-left-radius @top-right-radius @bottom-right-radius  @bottom-left-radius;
}

.transition(@property, @time, @easing) {
  -webkit-transition: @property @time @easing;
  -moz-transition: @property @time @easing;
  -o-transition: @property @time @easing;
  transition: @property @time @easing;
}

.transition(@time) {
  -webkit-transition: @time;
  -moz-transition: @time;
  -o-transition: @time;
  transition:  @time;
}

.placeholder-color(@color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: @color;
  }
  
  &::-moz-placeholder { /* Firefox 19+ */
    color: @color;
  }
  
  &:-ms-input-placeholder { /* IE 10+ */
    color: @color;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: @color;
  }
}

.rotate(@angle) {
  -ms-transform: rotate(@angle);
  -webkit-transform: rotate(@angle);
  -moz-transform: rotate(@angle);
  transform: rotate(@angle);
}

.linear-gradient(@fromColor, @toColor) {
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 90%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 90%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.shadow(@xOffset : 0, @yOffset : 0, @blur : 0.8rem, @spread : 0, @color : #c0c0c0) {
  -moz-box-shadow: @xOffset @yOffset @blur @spread @color;
  -webkit-box-shadow: @xOffset @yOffset @blur @spread @color;
  -o-box-shadow: @xOffset @yOffset @blur @spread @color;
  box-shadow: @xOffset @yOffset @blur @spread @color;
}