@import "media";
@import "theme";

.search-filter-container {
    cursor: default;
    overflow: hidden;
    overflow-y: auto;

    figure {
        display: block;
        margin: 0;
        margin-bottom: 3rem;

        .hidden {
            opacity: 0;
            max-height: 0;
        }

        .more {
            display: block;

            background-color: #f0f0f0;
            padding: 0.5rem;
            margin-top: 0.5rem;

            border-radius: 0.4rem;

            font-size: 1.6rem;
            text-align: center;
            text-decoration: none;
            color: @additional-info-color;

            cursor: pointer;

            &.hidden {
                padding: 0;
                margin: 0;
            }
        }

        figcaption {
            margin-bottom: 1.5rem;
            
            font-weight: bold;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            font-size: 1.6rem;

            max-height: 8.1rem;
            overflow: hidden;

            li {
                overflow: hidden;
                max-height: 3rem;

                a {
                    display: block;
                    position: relative;
                    
                    cursor: pointer;

                    text-decoration: none;
                    font-family: inherit;
                    font-size: inherit;

                    margin-bottom: 0.8rem;

                    > * {
                        vertical-align: middle;
                    }

                    span {
                        &.title {
                            color: @link-text-color;
                        }

                        &.count {
                            position: absolute;
                            right: 0;

                            padding-top: 0.2rem;
                            padding-bottom: 0.2rem;
                            padding-left: 0.5rem;
                            padding-right: 0.5rem;

                            color: @additional-info-color;
                            background-color: @additional-info-background;

                            border-radius: 4px 0 0 4px;
                        }
                    }

                    &:hover {
                        span {
                            &.title {
                                border-bottom: 1px solid @link-text-color;
                            }

                            &.more {
                                color: initial;
                            }
                        }
                    }
                }

                /*
                -webkit-transition: opacity 250ms linear, max-height 250ms linear;
                -moz-transition: opacity 250ms linear, max-height 250ms linear;
                transition: opacity 250ms linear, max-height 250ms linear;
                */
            }

            &.six-filters {
                max-height: 16.2rem;
            }

            &.all-filters {
                max-height: none;
            }
        }

        &.filters {
            margin-bottom: 2rem;
            
            max-height: 40rem;
            opacity: 1;

            -webkit-transition: opacity 150ms linear, max-height 250ms linear;
            -moz-transition: opacity 150ms linear, max-height 250ms linear;
            transition: opacity 150ms linear, max-height 250ms linear;

            ul {
                li {
                    max-height: none;

                    a {
                        background-color: @link-text-color;
                        padding: 0.5rem 0.7rem;
                        border-radius: 0.4rem;
                        margin-bottom: 0.5rem;

                        color: @theme-color00;
                         
                        span {
                            color: inherit;

                            &.title{
                                font-weight: normal;
                            }

                            &.cross {
                                position: absolute;
                                right: 0.7rem;
                                top: 0.5rem;

                                opacity: 0.5;
                            }
                        }

                        &:hover {
                            /*text-shadow: 0 0 2px @theme-color01;*/

                            span.cross {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &.empty {
                max-height: 0;
                opacity: 0;

                figcaption {
                    display: none;
                }
            }
        }
    }
}

.search-result-container {
    
}

.page-content {
    > * {
        vertical-align: top;
    }

    .search-filter-container, .search-result-container {
        display: inline-block;
    }

    .search-filter-container {
        width: 20%;
    }

    .search-result-container {
        flex-grow: 1;
    }
}