
@header-border-color: red;
@content-text-color: #303030;
@footer-border-color: blue;

@theme-color00 : #ffffff;
@theme-color01 : #303030;
@theme-color02 : #c0c0c0;
@theme-color03 : #e0e0e0;
@theme-color04 : #f0f0f0;
@theme-color05 : #808080;
@theme-color08 : #508ced;
@theme-color20 : #ff6666;
@theme-color21 : #ffcc66;

@border-color: #c0c0c0;
@link-text-color: #508ced;
@additional-info-color: #808080;
@additional-info-background: #f0f0f0;