
@header-border-color: red;
@content-text-color: #303030;
@footer-border-color: blue;

@theme-color00 : #ffffff;
@theme-color01 : #303030;

@border-color: #c0c0c0;
@link-text-color: #508ced;
@additional-info-color: #808080;
@additional-info-background: #f0f0f0;