.user-item {
    .user-items-bar {
        display: inline-block;
        position: fixed;
        margin-top: 4.7rem;
        margin-right: 1rem;
        min-width: 18rem;

        user-select: none;
       
        .user-resume {
            display: block;
            margin-left: 0;
            margin-right: 0;

            .rating {
                margin-top: 1rem;
            }
        }

        > .title {
            margin-top: 5rem;
            display: block;

            font-size: 1.7rem;
        }

        ul {
            display: block;
            text-align: center;

            margin: 0;
            padding: 0;

            li {
                position: relative;
                display: block;

                .link {
                    display: block;
                    min-width: 10rem;

                    padding: 1rem;
                    margin: 1rem 0;

                    text-align: center;
                    line-height: 3rem;
                    font-size: 1.6rem;

                    background-color: @theme-color00;
                    border: 1px solid @theme-color03;
                    .border-radius(0.4rem);

                    &.selected {
                        background-color: @theme-color08;
                        color: @theme-color00;

                        &.disabled {
                            color: @theme-color04;
                            background-color: fade(@theme-color08, 60%);
                        }
                    }
                }

                .user-resume {
                    cursor: pointer;
                    text-align: left;

                    &:hover {
                        border-color: @theme-color08;
                        .shadow(@color: @theme-color04);

                        color: @theme-color08;
                    }
                    
                    &.selected {
                        border-color: @theme-color08;
                        background-color: @theme-color08;
                        color: @theme-color00;

                        .shadow();

                        &:after {
                            position: absolute;
                            right: -1.8rem;
                            top: 3.2rem;

                            display: block;
                            content: " ";
                            width: 0;
                            height: 0;

                            border-left: 2rem solid @theme-color08;
                            border-top: 2rem solid transparent;
                            border-bottom: 2rem solid transparent;

                            -o-animation: show-arrow-frame 250ms 1 alternate;
                            -ms-animation: show-arrow-frame 250ms 1 alternate;
                            -webkit-animation: show-arrow-frame 250ms 1 alternate;
                            -moz-animation: show-arrow-frame 250ms 1 alternate;
                            animation: show-arrow-frame 250ms 1 alternate;
                        }
                    }
                }
            }
        }

    }

    .search-result-container {
        ul {
            li {
                figure {
                    .grade {
                        visibility: visible;
                    }
                }
            }
        }
    }
}